# Flask
SECRET_KEY=your-secret-key-change-this-in-production

# Supabase Database
# CORRECT .env entry
DATABASE_URL=postgresql://postgres:mFxwM5qnfYFABSD9@db.jhnpanznxoanclyrzvqx.supabase.co:5432/postgres

# Cloudinary
CLOUDINARY_CLOUD_NAME=dapuaw0u6
CLOUDINARY_API_KEY=738952696443951
CLOUDINARY_API_SECRET=CzRSL1UUAnGoOI1xnrc1NwlMIiU

# Admin (change these to your preferred values)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Newpassword123
ADMIN_EMAIL=admin@paulo-store.com

# WhatsApp
WHATSAPP_NUMBER=2347088028747